<div class="communityBody" id="communityBody"> 

  <section class = "container">
<div class="communityHeader container" id="communityHeader">
  <h1 class="community-title"> GetFIT Community</h1>

  <img src="../assets/img/Getfit.png"  style="width: 100%; height: auto;" alt="Getfit image">

    <h2 class= "introduction" "jumbltron-fluid"> Hello and welcome to the GetFIT Community! <br/>
      This is a safe place to share tips, <br/>
      tricks and workout motivation. 
    </h2> 


<h3> What would you like to share?</h3>
</div>
<form id="form">
  <div class="col-8" id="blogBody">
    <div class="note" id="note">
    <input
      class="blogTitle"
      id = "title"
      placeholder="Enter Title Here"
      maxlength="3000"
      type="text"
    />

    <textarea class="note-textarea textarea" id="textarea" placeholder="Enter Text Here"></textarea>
    <button class="btn btn-primary" id="submitBlog" type="submit">submit</button>
  </div>
  </div>
  </form>

  <div class="blog-message-container">
        <h3 id="blog-message"></h3>
    </div>

  <section class="container flex-row justify-center notes">
    {{#each blogs as |blog|}}
    <div class="bg-dark border-primary mb-3" style="">
   <h2>{{blog.title}}</h2> 
    <h3>{{blog.textarea}} </h3>
    </div>
    {{/each}}
  </section>
  <script src="/js/blog.js"></script>
  </section>

  </div>
 <style>
  body{
    background-color: rgb(255, 106, 0);
  }

  img{
    width: 100%;
  }

  .communityHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* rounded corners */
    border-radius: 10px;
    
  }

  {{!-- {{.notes{ --}}
    {{!-- display: flex; --}}
    {{!-- flex-direction: column; --}}
    {{!-- align-items: center; --}}
    /* rounded corners */
    {{!-- border-radius: 10px; --}}
  } --}}

</style>
