<div class="loginbody" id="loginbody">
<div class ="loginContainer" id="loginContainer">
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<div class="container newUserBtn">
   <button class="btn btn-primary" type="new-User" id="new-User">New User</button>
</div>

<script src="/js/login.js"></script>

</div>
</div>

<style>
  body{
    background-color: rgb(255, 106, 0);
  }
</style>