
<div class = "container workoutHistory" id="workoutHistory">
    <h1 class="workoutHistory"> Workout History</h1>

    <section class="flex-row justify-center workouts">
      {{#each Workouts as |workout|}}
          <h2>{{workout.title}}</h2> 
          <h3>{{workout.duration}}</h3>
          <h3>{{workout.intensity}}</h3>
          <h3>{{workout.outcome}} </h3>
      {{/each}}
    </section>
    
</div>

<div class="homeBtn-Container" id="homeBtn-Container">
  <button type="submit" id="home">Home</button>
</div>

<script src="/js/workoutHistory.js"></script>

 <style>
  body{
    background-color: rgb(255, 106, 0);
  }
.workoutHistory h1{
  text-align: center;
}
</style>